[submodule "external/llvm-project"]
	path = external/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "external/ruy"]
	path = external/ruy
	url = https://github.com/google/ruy
[submodule "external/cpuinfo"]
	path = external/cpuinfo
	url = https://github.com/pytorch/cpuinfo
[submodule "external/Halide"]
	path = external/Halide
	url = https://github.com/powderluv/Halide.git
[submodule "external/tvm"]
	path = external/tvm
	url = https://github.com/apache/tvm.git
[submodule "external/iree"]
	path = external/iree
	url = https://github.com/google/iree.git
[submodule "external/iree-llvm-sandbox"]
	path = external/iree-llvm-sandbox
	url = https://github.com/google/iree-llvm-sandbox.git
[submodule "external/flatbuffers"]
	path = external/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
